* {
    margin: 0;
    padding: 0;
  }
  body {
    background: #000000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-zelda{
    transform: translate(-15vmin, -10vmin);
    background: transparent;
    height: 2em;
    width: 2em;
    position:absolute;
    right:40%;
    font-size: 1vmin;
    color: #E9B804;
      box-shadow: 
      15em 0 #0D4336,
      17em 0 #0D4336,
      19em 0 #0D4336,
      21em 0 #0D4336,  
      23em 0 #0D4336,
      // 07em 9em #446D63,
      09em 4em #0D4336, 
      09em 6em #0D4336,  
      11em 4em #446D63,
      13em 2em #446D63,
      15em 2em #61A555,
      17em 2em #61A555,
      19em 2em #61A555,
      21em 2em #61A555,
      23em 2em #61A555,
      25em 2em #0D4336,
      27em 4em #0D4336,
      07em 8em #0D4336,
      07em 10em #0D4336,
      13em 4em #61A555,
      15em 4em #61A555,
      17em 4em #61A555,
      19em 4em #61A555,
      21em 4em #61A555,
      23em 4em #61A555,
      25em 4em #61A555,
      29em 6em #0D4336,
      11em 6em #61A555,
      13em 6em #61A555,
      15em 6em #61A555,
      17em 6em #61A555,
      19em 6em #61A555,
      21em 6em #61A555,
      23em 6em #61A555,
      25em 6em #61A555,
      27em 6em #61A555,
      09em 8em #61A555,
      11em 8em #61A555,
      13em 8em #442F2A,
      15em 8em #FDFD4F,
      17em 8em #FDFD4F,
      19em 8em #FDFD4F,
      21em 8em #FDFD4F,
      23em 8em #FDFD4F,
      25em 8em #442F2A,
      27em 8em #61A555,
      29em 8em #0D4336,

      09em 10em #61A555,
      11em 10em #442F2A,
      13em 10em #FDFD4F,
      15em 10em #FDFD4F,
      17em 10em #FDFD4F,
      19em 10em #FDFD4F,
      21em 10em #FDFD4F,
      23em 10em #FDFD4F,
      25em 10em #FDFD4F,
      27em 10em #442F2A,
      29em 10em #61A555,
      31em 10em #0D4336,

      03em 12em #442F2A,
      05em 12em #AE8451,
      07em 12em #442F2A,
      09em 12em #442F2A,
      11em 12em #F39E1E,
      13em 12em #FDFD4F,
      15em 12em #F39E1E,
      17em 12em #FDFD4F,
      19em 12em #FDFD4F,
      21em 12em #F39E1E,
      23em 12em #442F2A,
      25em 12em #FDFD4F,
      27em 12em #442F2A,
      29em 12em #442F2A,
      31em 12em #0D4336,
      33em 12em #AE8451,
      35em 12em #442F2A,

      03em 14em #442F2A,
      05em 14em #DCCAB4,
      07em 14em #DCCAB4,
      09em 14em #442F2A,
      11em 14em #FDFD4F,
      13em 14em #442F2A,
      15em 14em #FDFD4F,
      17em 14em #FDFD4F,
      19em 14em #FDFD4F,
      21em 14em #442F2A,
      23em 14em #AE8451,
      25em 14em #442F2A,
      27em 14em #FDFD4F,
      29em 14em #442F2A,
      31em 14em #DCCAB4,
      33em 14em #DCCAB4,
      35em 14em #442F2A,

      05em 16em #442F2A,
      07em 16em #AE8451,
      09em 16em #442F2A,
      11em 16em #442F2A,
      13em 16em #F39E1E,
      15em 16em #FDFD4F,
      17em 16em #F39E1E,
      19em 16em #442F2A,
      21em 16em #AE8451,
      23em 16em #DCCAB4,
      25em 16em #442F2A,
      27em 16em #F39E1E,
      29em 16em #442F2A,
      31em 16em #AE8451,
      33em 16em #442F2A,

      07em 18em #442F2A,
      09em 18em #FDFD4F,
      11em 18em #442F2A,
      13em 18em #F39E1E,
      15em 18em #F39E1E,
      17em 18em #442F2A,
      19em 18em #AE8451,
      21em 18em #DCCAB4,
      23em 18em #DCCAB4,
      25em 18em #AE8451,
      27em 18em #442F2A,
      29em 18em #FDFD4F,
      31em 18em #442F2A,

      07em 20em #343839,
      09em 20em #FDFD4F,
      11em 20em #442F2A,
      13em 20em #343839,
      15em 20em #442F2A,
      17em 20em #AE8451,
      19em 20em #DCCAB4,
      21em 20em #DCCAB4,
      23em 20em #442F2A,
      25em 20em #343839,
      27em 20em #442F2A,
      29em 20em #FDFD4F,
      31em 20em #442F2A,

      07em 22em #343839,
      09em 22em #F39E1E,
      11em 22em #442F2A,
      13em 22em #FFFFFF,
      15em 22em #004B81,
      17em 22em #442F2A,
      19em 22em #DCCAB4,
      21em 22em #442F2A,
      23em 22em #004B81,
      25em 22em #FFFFFF,
      27em 22em #442F2A,
      29em 22em #F39E1E,
      31em 22em #343839, 
      
      09em 24em #343839,
      11em 24em #442F2A,
      13em 24em #DCCAB4,
      15em 24em #004B81,
      17em 24em #FFFFFF,
      19em 24em #DCCAB4,
      21em 24em #FFFFFF,
      23em 24em #004B81,
      25em 24em #DCCAB4,
      27em 24em #343839,
      29em 24em #343839,

      11em 26em #343839,
      13em 26em #442F2A,
      15em 26em #DCCAB4,
      17em 26em #DCCAB4,
      19em 26em #DCCAB4,
      21em 26em #DCCAB4,
      23em 26em #DCCAB4,
      25em 26em #442F2A,
      27em 26em #343839,

      09em 28em #343839,
      11em 28em #61A555,
      13em 28em #442F2A,
      15em 28em #442F2A,
      17em 28em #AE8451,
      19em 28em #AE8451,
      21em 28em #AE8451,
      23em 28em #442F2A,
      25em 28em #442F2A,
      27em 28em #61A555,
      29em 28em #343839,

      07em 30em #343839,
      09em 30em #61A555,
      11em 30em #61A555,
      13em 30em #0D4336,
      15em 30em #006D43,
      17em 30em #006D43,
      19em 30em #006D43,
      21em 30em #006D43,
      23em 30em #006D43,
      25em 30em #0D4336,
      27em 30em #61A555,
      29em 30em #61A555,
      31em 30em #343839,

      05em 32em #343839,
      07em 32em #DCCAB4,
      09em 32em #DCCAB4,
      11em 32em #343839,
      13em 32em #442F2A,
      15em 32em #006D43,
      17em 32em #006D43,
      19em 32em #006D43,
      21em 32em #006D43,
      23em 32em #006D43,
      25em 32em #442F2A,
      27em 32em #343839,
      29em 32em #DCCAB4,
      31em 32em #DCCAB4,
      33em 32em #343839,

      05em 34em #343839,
      07em 34em #AE8451,
      09em 34em #DCCAB4,
      11em 34em #0D4336,
      13em 34em #61A555,
      15em 34em #442F2A,
      17em 34em #FDFD4F,
      19em 34em #FDFD4F,
      21em 34em #FDFD4F,
      23em 34em #442F2A,
      25em 34em #61A555,
      27em 34em #0D4336,
      29em 34em #DCCAB4,
      31em 34em #AE8451,
      33em 34em #343839,

      07em 36em #343839,
      09em 36em #343839,
      11em 36em #0D4336,
      13em 36em #61A555,
      15em 36em #0D4336,
      17em 36em #FDFD4F,
      19em 36em #FDFD4F,
      21em 36em #FDFD4F,
      23em 36em #0D4336,
      25em 36em #61A555,
      27em 36em #61A555,
      29em 36em #343839,
      31em 36em #343839,

      09em 38em #343839,
      11em 38em #343839,
      13em 38em #0D4336,
      15em 38em #61A555,
      17em 38em #61A555,
      19em 38em #61A555,
      21em 38em #61A555,
      23em 38em #61A555,
      25em 38em #0D4336,
      27em 38em #343839,
      29em 38em #343839,

      07em 40em #343839,
      09em 40em #A81816,
      11em 40em #850923,
      13em 40em #343839,
      15em 40em #343839,
      17em 40em #343839,
      19em 40em #343839,
      21em 40em #343839,
      23em 40em #343839,
      25em 40em #343839,
      27em 40em #850923,
      29em 40em #A81816,
      31em 40em #343839,

      07em 42em #343839,
      09em 42em #A81816,
      11em 42em #A81816,
      13em 42em #850923,
      15em 42em #343839,
      23em 42em #343839,
      25em 42em #850923,
      27em 42em #A81816,
      29em 42em #A81816,
      31em 42em #343839,

      09em 44em #343839,
      11em 44em #343839,
      13em 44em #343839,
      25em 44em #343839,
      27em 44em #343839,
      29em 44em #343839,
      ;
  }
  .peach {
    transform: translate(-15vmin, -10vmin);
    background: transparent;
    height: 2em;
    width: 2em;
    font-size: 1vmin;
    color: #E9B804;
    position:absolute;
    left:40%;
    box-shadow: 
      19em 0 #E9B804,
      15em 0 #E9B804,
      23em 0 #E9B804,
      17em 2em #E9B804,
      21em 2em #E9B804,
      15em 2em #0198F4,
      23em 2em #0198F4,
      19em 2em #DC408C,
      23em 4em #F0D302,
      21em 4em #F0D302,
      19em 4em #F0D302,
      17em 4em #F0D302,
      15em 4em #F0D302,
      13em 4em #F0D302,
      25em 6em #F0D302,
      23em 6em #F0D302,
      21em 6em #F0D302,
      19em 6em #F0D302,
      17em 6em #F0D302,
      15em 6em #F0D302,
      13em 6em #F0D302,
      11em 6em #F0D302,
      27em 8em #F0D302,
      25em 8em #F0D302,
      23em 8em #F3DBB2,
      21em 8em #F0D302,
      19em 8em #F0D302,
      17em 8em #F0D302,
      15em 8em #F0D302,
      13em 8em #F0D302,
      11em 8em #F0D302,
      27em 10em #F0D302,
      25em 10em #F0D302,
      23em 10em #F3DBB2,
      21em 10em #0690DA,
      19em 10em #F3DBB2,
      17em 10em #F0D302,
      15em 10em #F0D302,
      13em 10em #F0D302,
      11em 10em #F0D302,
      9em 10em #F0D302,
      7em 10em #F0D302,
      25em 12em #F3DBB2,
      23em 12em #F3DBB2,
      21em 12em #0198F4,
      19em 12em #F3DBB2,
      17em 12em #F0D302,
      15em 12em #F3DBB2,
      13em 12em #F0D302,
      11em 12em #F0D302,
      9em 12em #F0D302,
      25em 14em #F3DBB2,
      23em 14em #F3DBB2,
      21em 14em #F3DBB2,
      19em 14em #F3DBB2,
      17em 14em #F0D302,
      15em 14em #0690DA,
      13em 14em #F0D302,
      23em 16em #F3DBB2,
      21em 16em #F3DBB2,
      19em 16em #F3DBB2,
      17em 16em #F3DBB2,
      15em 16em #F0D302,
      13em 16em #F0D302,
      11em 16em #F0D302,
      9em 16em #F0D302, 
      25em 18em #FD79B9,
      23em 18em #0198F4,
      21em 18em #F0D302,
      19em 18em #DC408C,
      17em 18em #DC408C,
      15em 18em #DC408C,
      13em 18em #F0D302,
      11em 18em #F0D302,
      9em 18em #F0D302, 
      7em 18em #F0D302,
      27em 20em #FD79B9, 
      25em 20em #FD79B9, 
      23em 20em #FD79B9, 
      21em 20em #FD79B9, 
      19em 20em #FD79B9, 
      17em 20em #FD79B9, 
      15em 20em #FD79B9, 
      13em 20em #FD79B9, 
      11em 20em #F0D302, 
      9em 20em #F0D302, 
      27em 22em #F3DBB2, 
      25em 22em #FD79B9,
      23em 22em #FD79B9,
      21em 22em #FD79B9,
      19em 22em #FD79B9,
      17em 22em #FD79B9,
      15em 22em #F3DBB2,
      13em 22em #F3DBB2,
      25em 24em #DC408C,
      23em 24em #DC408C,
      21em 24em #DC408C,
      19em 24em #DC408C,
      17em 24em #DC408C,
      15em 24em #DC408C,
      27em 26em #DC408C,
      25em 26em #DC408C,
      23em 26em #FD79B9,
      21em 26em #FD79B9,
      19em 26em #DC408C,
      17em 26em #DC408C,
      15em 26em #DC408C,
      13em 26em #DC408C,
      27em 28em #DC408C,
      25em 28em #FD79B9,
      23em 28em #FD79B9,
      21em 28em #FD79B9,
      19em 28em #FD79B9,
      17em 28em #FD79B9,
      15em 28em #DC408C,
      13em 28em #DC408C,
      27em 30em #FD79B9,
      25em 30em #FD79B9,
      23em 30em #FD79B9,
      21em 30em #FD79B9,
      19em 30em #FD79B9,
      17em 30em #FD79B9,
      15em 30em #FD79B9,
      13em 30em #FD79B9,
      29em 32em #FD79B9,
      27em 32em #FD79B9,
      25em 32em #FD79B9,
      23em 32em #FD79B9,
      21em 32em #FD79B9,
      19em 32em #FD79B9,
      17em 32em #FD79B9,
      15em 32em #FD79B9,
      13em 32em #FD79B9,
      11em 32em #FD79B9,
      29em 34em #DC408C,
      27em 34em #DC408C,
      25em 34em #DC408C,
      23em 34em #DC408C,
      21em 34em #DC408C,
      19em 34em #DC408C,
      17em 34em #DC408C,
      15em 34em #DC408C,
      13em 34em #DC408C,
      11em 34em #DC408C,
      9em 34em #DC408C;
  }